body{
  background-color: #153956;
  color: #f5f2e8;
}

header{
  text-align: center;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

img{
  border-radius: 50%;
  width: 50%;
  margin-top: 10%;
}

.introduction{
  margin: 10%;
}

.mouse{
  display: block;
  margin-left:auto;
  margin-right: auto;
  height: 40px;
  width: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.scroll{
  margin-top: 30px;
  margin-bottom: 10px;
}

.wheel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  height: 10px;
  width: 3px;
}

.arrow-down{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-right:2px solid white;
  border-bottom:2px solid white;
  width:15px;
  height:15px;
  transform:rotate(40);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.title{
  margin: 1%;
}

p{
  text-align: center;
}

button{
  margin: 10px;
  height: 40px;
  width: 25%;
  background-color: orangered;
}

.skills{ 
    margin: 20px auto 40px; 
}

.project{
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 10px;
}

.projects{
  text-align: center;
}

.card{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 12px;
  background-color: transparent;
}

.contact{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.form-input{
  display: block;
  height: 40px;
  width: 70%;
  margin: 10px auto;
}

article{
  margin: 10px;
}

p {
    margin: 2px;
}


footer {
  border-top: 1px solid transparent;
  background-color: #002e4d;
}
