body{
  background-color: #121212;
  color: white;
}

header{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: white;
}

nav{
  height:8%;
  width:100%;
  position:fixed;
  top:0px;
  background:black;
}

nav li {
  list-style: none;
  float: right;
  margin-left:10px;
}

#profile{
  border-radius: 50%;
  width: 50%;
  margin: 10%;
  margin-left: 40%;
}

#introduction{
  display: block;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}


#skills{
  display:grid;
  grid-template-columns: repeat(auto-fill, 200px);
}


.skill{
  list-style:none;
  padding:5px;
  border: 1px solid black;
  height:100px;
  border-radius:10px;
  margin:5px;
  text-align:center;
  vertical-align: middle;
  background-color: #068686;
}


.experience{
  border: 1px solid black;
  border-radius: 26px;
  margin:10px;
  background:#ad8c20;
}

.blog{
  display: grid;
  grid-template-columns: 80% 20%;
  border: 1px solid rgba(214, 206, 206, 0.8);
  margin: 10px;
  border-radius: 26px;
  width: 75%;
  height: 150px;;
}

.blog-descr{
  margin: 10px;
}

.blog-title{
  text-align: center;
  margin-top:10px;
  width: 100%;
}

.view{
  display: block;
  padding-bottom:10px;
  padding-top: 10px;
}

.blog-img{
  height:150px;
  width: 50%;
}

#projects{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project{
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 10px;
  border-radius: 26px;
  background-color: #6767b6;
}


.project-title{
  text-align: center;
  margin-top:10px;
}

.project-descr{
  height: 120px;
  margin: 10px;
}

.code{
  display: block;
  text-align:center;
  width: 100%;
  padding-bottom:10px;
  padding-top: 10px;
  background:#8D2663;
  border-bottom-left-radius:26px;
  border-bottom-right-radius:26px;
}

.card{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 12px;
  background-color: transparent;
}

.contact{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.form-input{
  display: block;
  height: 40px;
  width: 70%;
  margin: 10px auto;
}

article{
  margin: 10px;
}

p {
    margin: 2px;
}

footer {
  border-top: 1px solid transparent;
  background-color: #002e4d;
  color: white;
}

#submit{
  margin: 10px;
  height: 40px;
  width: 25%;
  background-color: orangered;
}


footer{
  background:black;
}

input{
  height:20px;
  border-radius:1px;
  width: 100%;
}

.form-group{
  margin:10px;
}
