body{
  background-color: #121212;
  color: white;
}

header{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: white;
}

nav{
  height:8%;
  width:100%;
  position:fixed;
  top:0px;
  background:black;
}

nav li {
  list-style: none;
  float: right;
  margin-left:10px;
}

a {
  color: white;
  font-weight: bold;
}

#profile{
  border-radius: 50%;
  width: 50%;
  margin: 10%;
  margin-left: 40%;
}

#introduction{
  display: block;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

section{
  margin-bottom: 2em;
}

#skills{
  display:grid;
  grid-template-columns: repeat(auto-fill, 150px);
}

.skill{
  list-style:none;
  padding:5px;
  border: 1px solid black;
  height:150px;
  border-radius:10px;
  margin:5px;
  text-align:center;
  vertical-align: middle;
  background-color: #068686;
}

.blog{
  border: 1px solid rgba(214, 206, 206, 0.8);
  border-radius: 26px;  
  margin: 10px;
  width: 75%;
  height: 250px;
}

.blog-descr{
}

.blog-title{
  text-align: center;
  margin-top:10px;
  width: 100%;
  font-size: 1.5em;;
}

.blog-img{
  border-radius: 26px;  
  height:150px;
  width: 100%;
}

.contact{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.form-input{
  display: block;
  height: 40px;
  width: 70%;
  margin: 10px auto;
}

article{
  margin: 10px;
}

p {
    margin: 2px;
}

footer {
  border-top: 1px solid transparent;
  background-color: #002e4d;
  color: white;
}

#submit{
  margin: 10px;
  height: 40px;
  width: 25%;
  background-color: orangered;
}

footer{
  background:black;
}

input{
  height:20px;
  border-radius:1px;
  width: 100%;
}

.form-group{
  margin:10px;
}
